
@if (loading()) {
    <mat-spinner />
}

@if (error()) {
    <p>{{ error() }}</p>
}

@if(!loading() && !error()) {
    <mat-list>
        @for (e of events(); track e.id) {
            <mat-list-item>
                <a matListItemTitle  >{{ e.name }}</a>
                <span matListItemLine>{{ e.matchScore }}</span>
                <span matListItemMeta>{{ e.isFollowed }}</span>
                <button (click)="toggleFollow(e.id)"> 
                    {{e.isFollowed ? "Unfollow" : "Follow"}} 
                </button>
            </mat-list-item>
        }
    </mat-list>
}
